/*
Theme Name: IVC En Vivo
Theme URI: http://www.ivcenvivo.com
Description: IVC 
Author: IVC
Author URI: http://www.ivcenvivo.com
Version: 1.0
*/
body{ margin: 0px; padding: 0px; color: #fff; font-family: 'Roboto', sans-serif;}
.main-area { position: relative; height: 100vh; z-index: 1; padding: 0 20px; background-size: cover;color: #fff; background-image: url(img/bg_main.jpg);
}
input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}
#wrap-content{ width: 90%; max-width: 930px; display: flex; background: rgba(0,0,0,0.4);  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
div.col_home{ width: 50%; }
#new_user{ background-color: #fff; color:#303030;}
.block_content{ padding:60px; font-weight: 300; font-size: 14px; text-align: center;}
.block_content p{ width: 100%; box-sizing: border-box;}
.block_content strong{ font-size: 20px; margin: 25px 0px; display: block; }
.block_content input{ width: 90%; padding: 5px 15px; color: #919191; border-radius: 10px; min-height: 30px; border: none; }
.block_content input[type=submit]{ width: 100%; color: #fff; border-radius: 10px; min-height: 40px; background-color: #065fb7; border: none; cursor: pointer;}
.item_form_ss{ margin-bottom: 15px; }
.item_form_ss input{ width: 90%; border: #919191 1px solid; padding: 5px 15px;min-height: 30px; color: #919191;}
.item_form_ss select { width: 100%; border: #919191 1px solid; padding: 12px 15px;min-height: 30px; color: #919191; border-radius: 10px}
.social-btn {width: 100%; bottom: 0px; position: relative; margin: 20px 0px; list-style: none; display: flex; justify-content:space-evenly; padding: 0px;}
.social-btn a{ color:#000000; font-size: 26px; margin: 0px 5px; }

.user-bar { width: 100%; background-color: #1a1a1a; position: absolute;top: 0px; left: 0px;	} 
.menu-user { position: relative; display: inline-block; cursor: pointer;}
.menu-user span{ padding: 10px 15px; display: block; background-color: #000;
}
.user-items { display: none; position: absolute; background-color: #000; min-width: 230px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; top: 39px; z-index: 9999999; font-size: 14px; font-weight: 300; }
.user-items a{ width: 100%; color: #fff; text-decoration: none; }
.menu-user:hover .user-items { display: block; }
.item_options{ padding: 10px 15px; }
.item_options:hover{background-color: #065fb7;}
#wrap-content.inside{ flex-direction: column; max-width: 650px; text-align: center;}
#wrap-content.inside h1{ font-weight: 300; font-size: 20px; }
#wrap-content.inside .social-btn a{ color: #fff; }
#videoad_wrapp { width: 100%; margin: 0px auto;}
.video_wrapper_responsive { position: relative; padding-bottom: 56.25%; margin-bottom: 15px;}
.video_wrapper_responsive iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#wrap-content .success_form{ text-align: center; width: 100%; padding: 40px 0px; font-weight: 300; }
#wrap-content .success_form .btn_live{border-radius: 10px; min-height: 20px; background-color: #065fb7; color: #fff; text-decoration: none; padding: 15px; margin: 20px auto; width: 60%; max-width: 300px; display: block;}
#wrap-content.inside img.logo{ width: 30%; max-width: 80px; margin: 10px auto; }
@media all and (max-width:768px),
only screen and (-webkit-min-device-pixel-ratio:2) and (max-width:1024px),
only screen and (min--moz-device-pixel-ratio:2) and (max-width:1024px),
only screen and (-o-min-device-pixel-ratio:2/1) and (max-width:1024px),
only screen and (min-device-pixel-ratio:2) and (max-width:1024px),
only screen and (min-resolution:192dpi) and (max-width:1024px),
only screen and (min-resolution:2dppx) and (max-width:1024px) {
	body{ background-color: #0b1734; }
	#wrap-content.init{ flex-direction:column-reverse; width: 100%; position: relative; transform: none; top: auto; left: auto;}
	div.col_home{ width: 100%; }
	.block_content{ padding: 40px 30px; }
	#wrap-content.inside{ margin-top: 40px; }
}
